.custom-select__list--visible {
  opacity: 1;
  visibility: visible;
  z-index: 100;
}

.custom-select__list li {
  padding: 5px;
  cursor: pointer;
}

.sign-up__avatar-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 100px;
}

/* Для изменения цвета обводки элемента формы при валидации */
.form__type-input-error {
  border-color: #f11c4a !important;
}

/* Для отображения span-элемента с ошибкой */
.form__error-active {
  padding-top: 10px;
  display: block;
  font-style: italic;
  font-size: 14px;
  color: #f11c4a;
}

/* Для блокировки кнопки submit */
.button-inactive {
  cursor: default;
  background-color: rgb(211 211 211 / 0.6);
}
