.custom-select__list--visible {
  opacity: 1;
  visibility: visible;
  z-index: 100;
}

.custom-select__list li {
  padding: 5px;
  cursor: pointer;
}

.sign-up__avatar-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 100px;
}

